<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vladimir.informer_pi" >
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            />
        <activity
            android:name=".SettingsActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InstStructActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <service
            android:name=".Radio"
            android:exported="false">
            <intent-filter>
                <action android:name="ru.sfu.pi.piinformer.action.TOGGLE_PLAYBACK" />
                <action android:name="ru.sfu.pi.piinformer.action.PLAY" />
                <action android:name="ru.sfu.pi.piinformer.action.USER_PAUSE" />
                <action android:name="ru.sfu.pi.piinformer.action.PHONE_PAUSE" />
                <action android:name="ru.sfu.pi.piinformer.action.SKIP" />
                <action android:name="ru.sfu.pi.piinformer.action.REWIND" />
                <action android:name="ru.sfu.pi.piinformer.action.STOP" />
            </intent-filter>
            <intent-filter>
                <action android:name="ru.sfu.pi.piinformer.action.URL" />
                <data android:scheme="http" />
            </intent-filter>
        </service>

        <!--<receiver android:name=".MusicIntentReceiver">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.media.AUDIO_BECOMING_NOISY" />-->
            <!--</intent-filter>-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MEDIA_BUTTON" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->

    </application>

</manifest>
